<legend>Tareas</legend>
  <div>
  <div>
    <ul>
      <li arrastrable>Café</li>
      <li arrastrable>  Té </li>
      <li arrastrable >  Leche </ li >
      </ul> 
    </div>
    <div><ul>
      <li arrastrable>Café</li>
      <li arrastrable>  Té </li>
      <li arrastrable >  Leche </ li >
      </ul>
    </div>
    <div>
      <ul>
        <li arrastrable>Café</li>
        <li arrastrable>  Té </li>
        <li arrastrable >  Leche </ li >
        </ul> 
      </div>

      <div>
        <ul>
          <li arrastrable>Café</li>
          <li arrastrable>  Té </li>
          <li arrastrable >  Leche </ li >
          </ul> 
        </div>
      </div>
