  <link rel="stylesheet" href="node_modules/ng2-drag-drop/style.css">
     <div>
                            <ul>
                              <li arrastrable>Café</li>
                              <li arrastrable>  Té </li>
                              <li arrastrable >  Leche </ li >
                              </ul> 
                            </div>
                            <div><ul>
                              <li arrastrable>Café</li>
                              <li arrastrable>  Té </li>
                              <li arrastrable >  Leche </ li >
                              </ul>
                            </div>
                            <div>
                            <ul>
                              <li arrastrable>Café</li>
                              <li arrastrable>  Té </li>
                              <li arrastrable >  Leche </ li >
                              </ul> 
                            </div>

                               <div>
                            <ul>
                              <li arrastrable>Café</li>
                              <li arrastrable>  Té </li>
                              <li arrastrable >  Leche </ li >
                              </ul> 
                            </div>
                          </div>
