<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Proyecto..!</title>



</head>
<body >

  <div>
   <div class="container">

  <div class="flex-item"[dragula]='"bag-task1"'>
   <p>emprogreso</p>
   <li >Café</li>
    <li >Té</li>
    <li >Leche</li>
</div>
</div>
<div class="container">
  <div class="flex-item"[dragula]='"bag-task1"'>
   <ul>
   <p>hecha</p>
  </ul> 
</div>
</div>
<div class="container">
  <div class="flex-item"[dragula]='"bag-task1"'> 
    <ul>
     <p>rechasada</p>
    </ul> 
  </div>
</div>
<div class="container">
  <div class="flex-item"[dragula]='"bag-task1"'> 
    <ul>
      <p>finalizada</p>
    </ul> 
  </div>
</div>
</div>
</body>